@import './_mixings.scss';
@include font-face("StreetvertisingBold", "/fonts/StreetvertisingBold", bold);
@include font-face("Streetvertising", "/fonts/Streetvertising", normal);
@include font-face("StreetvertisingLight", "/fonts/StreetvertisingLight", light);

//Fonts
$fuente_Bold : "StreetvertisingBold";
$fuente_Light : "StreetvertisingLight";
$fuente : "Streetvertising";

//Colors
$Morado_Primary : #62163b;
$Morado_Dark_Opacity : rgba(27, 0, 7, 0.92);
$Morado_Opacity : rgb(153, 114, 145);
$Morado_Primary_Claro : rgba(128, 45, 87, 0.075);
$Blanco_Opacity : rgba(230, 230, 230, 0.8);
$Morado_Suave_Fondo : #F1E6EC;

$Morado_Fondo_Texto : rgba(98, 22, 60, 0.631);

//Imagenes
$huella : "/images/huella.png";
$huellaOpacity : "/images/huellaOpacity.png";