@import './_mixings.scss';
@include font-face("StreetvertisingBold", /dist/fonts/StreetvertisingBold, bold);
@include font-face("Streetvertising", /dist/fonts/Streetvertising, normal);
@include font-face("StreetvertisingLight", /dist/fonts/StreetvertisingLight, light);

//Fonts
$fuente_Bold : "StreetvertisingBold";
$fuente_Light : "StreetvertisingLight";
$fuente : "Streetvertising";


//Colors
$Morado_Primary : #62163b;
$Morado_Dark_Opacity : rgba(27, 0, 7, 0.92);
$Morado_Opacity : rgb(127, 100, 121);
$Morado_Primary_Claro : #9b3255;

//Imagenes
$huella : "/dist/images/huella.png";
$huellaOpacity : "/dist/images/huellaOpacity.png";