// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin background($imgpath,$position:0 0, $positionX : 0, $repeat: no-repeat, $size : 0) {
    background: {
        image: url($imgpath);
		position: $position;
		position-x: $positionX;
		repeat: $repeat;
		size: $size;
    }
}

@mixin textSectionPadre(){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin textSection($width : 35%){
	width: $width;
	text-align: center;
}

@mixin textTitleSection() {
	font-family: $fuente_Bold;
	font-size: 28px;
	color: $Morado_Primary;
}

@mixin textSubtitleSection($borde : 6vh) {
	padding-left: $borde;
	padding-right: $borde;
	font-family: $fuente_Light;
	font-size: 20px;
	color: #2a2628;
	border-left: 2px solid #333;
	border-right: 2px solid #333;
}