section, .background-section, .content-section{
    height: 100vh;
    width: 100vw;
}

.background-section{
    z-index: -10;
    position: absolute;
}

.content-section{
    position: relative;
    z-index: 10;
}

@import './sections/_set1.scss';
@import './sections/_set2.scss';
@import './sections/_set3.scss';
@import './sections/_set4.scss';
@import './sections/_set5.scss';
@import './sections/_set6.scss';
@import './sections/_set7.scss';
@import './sections/_set8.scss';
@import './sections/_set9.scss';