@import './_global.scss';
@import './_menu.scss';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $fuente;
    padding-bottom: 100em;
}

a{
    text-decoration: none;
    color: black;
}