@font-face {
  font-family: "StreetvertisingBold";
  font-weight: bold;
  src: url("/dist/fonts/StreetvertisingBold.eot?") format("eot"), url("/dist/fonts/StreetvertisingBold.woff2") format("woff2"), url("/dist/fonts/StreetvertisingBold.woff") format("woff"), url("/dist/fonts/StreetvertisingBold.ttf") format("truetype"), url("/dist/fonts/StreetvertisingBold.svg#StreetvertisingBold") format("svg");
}

@font-face {
  font-family: "Streetvertising";
  font-weight: normal;
  src: url("/dist/fonts/Streetvertising.eot?") format("eot"), url("/dist/fonts/Streetvertising.woff2") format("woff2"), url("/dist/fonts/Streetvertising.woff") format("woff"), url("/dist/fonts/Streetvertising.ttf") format("truetype"), url("/dist/fonts/Streetvertising.svg#Streetvertising") format("svg");
}

@font-face {
  font-family: "StreetvertisingLight";
  font-weight: light;
  src: url("/dist/fonts/StreetvertisingLight.eot?") format("eot"), url("/dist/fonts/StreetvertisingLight.woff2") format("woff2"), url("/dist/fonts/StreetvertisingLight.woff") format("woff"), url("/dist/fonts/StreetvertisingLight.ttf") format("truetype"), url("/dist/fonts/StreetvertisingLight.svg#StreetvertisingLight") format("svg");
}

@font-face {
  font-family: "StreetvertisingBold";
  font-weight: bold;
  src: url("/dist/fonts/StreetvertisingBold.eot?") format("eot"), url("/dist/fonts/StreetvertisingBold.woff2") format("woff2"), url("/dist/fonts/StreetvertisingBold.woff") format("woff"), url("/dist/fonts/StreetvertisingBold.ttf") format("truetype"), url("/dist/fonts/StreetvertisingBold.svg#StreetvertisingBold") format("svg");
}

@font-face {
  font-family: "Streetvertising";
  font-weight: normal;
  src: url("/dist/fonts/Streetvertising.eot?") format("eot"), url("/dist/fonts/Streetvertising.woff2") format("woff2"), url("/dist/fonts/Streetvertising.woff") format("woff"), url("/dist/fonts/Streetvertising.ttf") format("truetype"), url("/dist/fonts/Streetvertising.svg#Streetvertising") format("svg");
}

@font-face {
  font-family: "StreetvertisingLight";
  font-weight: light;
  src: url("/dist/fonts/StreetvertisingLight.eot?") format("eot"), url("/dist/fonts/StreetvertisingLight.woff2") format("woff2"), url("/dist/fonts/StreetvertisingLight.woff") format("woff"), url("/dist/fonts/StreetvertisingLight.ttf") format("truetype"), url("/dist/fonts/StreetvertisingLight.svg#StreetvertisingLight") format("svg");
}

header {
  width: 100%;
  height: 15vh;
  background-color: #fff;
  box-shadow: 1px 3px 4px #888888;
  transition: all .7s;
  font-family: "StreetvertisingBold";
  font-size: 15px;
}

.logo-nav {
  max-height: 4vh;
}

.menu, ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  width: 100%;
  list-style-type: none;
}

.container-menu {
  width: 33.3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fixed {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
}

.link-nav {
  padding-top: 3vh;
  padding-bottom: 2.5vh;
  color: #7f6479;
}

.link-nav-active {
  background-image: url("/dist/images/huellaOpacity.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5vh;
  color: #62163b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Streetvertising";
  padding-bottom: 100em;
}

a {
  text-decoration: none;
  color: black;
}
 

 /*# sourceMappingURL= style.css.map */