@import '../_global.scss';
@import '../_mixings.scss';

#sect2{
    
    .background-section{
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        div{
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $fuente_Bold;
            color: $Morado_Primary_Claro;
        }
        #sect2-1{
            height: 65vh;
            span{
                font-size: 65vh;
                margin-left: 160vw;
            }
        }
        #sect2-2{
            height: 35vh;
            span{
                font-size: 23vh;
                margin-left: -80vw;
            }
        }
    }
    .content-section{
        @include textSectionPadre();
        div{
            @include textSection(65%);
        }
        .propuesta {
            @include textTitleSection();
        }
        .subpropuesta {
            @include textSubtitleSection(5vh);
        }
    }
}